<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversationUsername</key>
	<string>205fb3e9-1f32-4f51-89eb-ed816480b525</string>
	<key>conversationPassword</key>
	<string>oICx2GFWGFBn</string>
	<key>conversationUrl</key>
	<string>https://gateway.watsonplatform.net/conversation/api</string>
	<key>appName</key>
	<string>soru</string>
</dict>
</plist>
