<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>conversationUsername</key>
    <string>829c732a-5ef0-4d5f-a953-946788cdb710</string>
    <key>conversationPassword</key>
    <string>kVCk63tSKnCK</string>
    <key>conversationUrl</key>
    <string>https://gateway.watsonplatform.net/conversation/api</string>
    <key>appName</key>
    <string>soru</string></dict>
</plist>
