<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversationUsername</key>
	<string>2e6fe490-acd3-4bc4-ab13-c89f7db9f161</string>
	<key>conversationPassword</key>
	<string>YiIfyUSUy3cu</string>
	<key>conversationUrl</key>
	<string>https://gateway.watsonplatform.net/conversation/api</string>
	<key>appName</key>
	<string>soru</string>
</dict>
</plist>
